# GROW_R502A hzgrow Fingerprint sensor Configuration options

# Copyright (c) 2021 Linumiz
# SPDX-License-Identifier: Apache-2.0

menuconfig GROW_R502A
	bool "GROW_R502A Fingerprint Sensor"
	depends on SERIAL
	select RING_BUFFER
	help
	  Enable driver for GROW_R502A Fingerprint Sensor.
