/*
 * Copyright (c) 2021, Linumiz
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&uart0 {
    current-speed = <57600>;
    status = "okay";
    grow_r502a{
        compatible = "grow_r502a";
        status = "okay";
        label = "GROW_R502A";
    };
};
